PicoX8.lso
PicoX8.tspec
_ngo/
_xmsgs/
picox-8.bld
picox-8.gyd
picox-8.lso
picox-8.mfd
picox-8.nga
picox-8.ngc
picox-8.ngd
picox-8.ngr
picox-8.pad
picox-8.pnx
picox-8.rpt
picox-8.syr
picox-8.tim
picox-8.vm6
picox-8.xml
picox-8_build.xml
picox-8_ngdbuild.xrpt
picox-8_pad.csv
picox-8_xst.xrpt
tmperr.err
xlnx_auto_0_xdb/
xst/
