# Clock signal

# Address bus (8-bit)
NET "address[0]"          LOC = "97";
NET "address[1]"          LOC = "96";
NET "address[2]"          LOC = "95";
NET "address[3]"          LOC = "94";
NET "address[4]"          LOC = "93";
NET "address[5]"          LOC = "92";
NET "address[6]"          LOC = "91";
NET "address[7]"          LOC = "90";

# Data bus (8-bit)
NET "data[0]"             LOC = "89";
NET "data[1]"             LOC = "87";
NET "data[2]"             LOC = "86";
NET "data[3]"             LOC = "85";
NET "data[4]"             LOC = "82";
NET "data[5]"             LOC = "81";
NET "data[6]"             LOC = "80";
NET "data[7]"             LOC = "79";

# Z80 Control
NET "clk"                 LOC = "22" | PERIOD = 408.16 ns HIGH 50%;  # Pico GP10
NET "ioreq_n"             LOC = "78";
NET "rd_n"                LOC = "77";
NET "wr_n"                LOC = "76";
NET "reset_n"             LOC = "73";

# Pico register access port
NET "pico_data[0]"        LOC = "10"; # Pico GP2
NET "pico_data[1]"        LOC = "11"; # Pico GP3
NET "pico_data[2]"        LOC = "12"; # Pico GP4
NET "pico_data[3]"        LOC = "13"; # Pico GP5
NET "pico_data[4]"        LOC = "14"; # Pico GP6
NET "pico_data[5]"        LOC = "15"; # Pico GP7
NET "pico_data[6]"        LOC = "16"; # Pico GP8
NET "pico_data[7]"        LOC = "17"; # Pico GP9

NET "pico_dir"            LOC = "18"; # Pico GP11
NET "pico_stb"            LOC = "23"; # Pico GP12

NET "pico_addr[0]"        LOC = "30"; # Pico GP13
NET "pico_addr[1]"        LOC = "32"; # Pico GP14
NET "pico_addr[2]"        LOC = "33"; # Pico GP15

# Register full signals to Pico
NET "irq_tone_dialer"     LOC = "6"; # Pico GP16
NET "irq_modem_control"   LOC = "7"; # Pico GP17
NET "irq_ramdisk_command" LOC = "8"; # Pico GP18
NET "irq_ramdisk_obf"     LOC = "9"; # Pico GP19
NET "irq_ramdisk_ibf"     LOC = "41"; # Pico GP20

# RX inverter
NET "rx"                  LOC = "20";
NET "rx_n"                LOC = "74";

# Debugging LEDs
NET "led0"                LOC = "24";
NET "led1"                LOC = "25";
NET "led2"                LOC = "28";
NET "led3"                LOC = "29";

# Ramdisk Debug Port
NET "rdd_d[0]" LOC = "56";
NET "rdd_d[1]" LOC = "58";
NET "rdd_d[2]" LOC = "60";
NET "rdd_d[3]" LOC = "64";
NET "rdd_d[4]" LOC = "66";
NET "rdd_d[5]" LOC = "68";
NET "rdd_d[6]" LOC = "70";
NET "rdd_d[7]" LOC = "72";

NET "rdd_rw" LOC = "54";
NET "rdd_clk" LOC = "52";
NET "rdd_cd" LOC = "43";

NET "rdd_obf" LOC = "39";