# Clock signal
NET "clk" LOC = "1" | PERIOD = 408.16 ns HIGH 50%;

# Address bus (8-bit)
NET "address[0]" LOC = "2";
NET "address[1]" LOC = "3";
NET "address[2]" LOC = "5";
NET "address[3]" LOC = "6";
NET "address[4]" LOC = "7";
NET "address[5]" LOC = "8";
NET "address[6]" LOC = "12";
NET "address[7]" LOC = "13";

# Data bus (8-bit)
NET "data[0]" LOC = "14";
NET "data[1]" LOC = "16";
NET "data[2]" LOC = "18";
NET "data[3]" LOC = "19";
NET "data[4]" LOC = "20";
NET "data[5]" LOC = "21";
NET "data[6]" LOC = "22";
NET "data[7]" LOC = "23";

# Z80 Control
NET "clk" LOC = "1";
NET "ioreq_n" LOC = "44";
NET "rd_n" LOC = "43";
NET "wr_n" LOC = "42";

# Tone dialer outputs
NET "f0" LOC = "41";
NET "f1" LOC = "40";
NET "f2" LOC = "39";
NET "f3" LOC = "38";
NET "tone" LOC = "37";

# Modem control outputs
NET "ohc" LOC = "36";
NET "mon" LOC = "34";
NET "txc" LOC = "32";
NET "ans" LOC = "31";
NET "pwr" LOC = "30";
NET "cct" LOC = "29";

# RX inverter
NET "rx" LOC = "28";
NET "rx_n" LOC = "27";
